<h2> Hello from teams</h2>


<% teams.forEach(team=> { %>
    
    <div>
        <h3><%= team.full_name %> </h3>
        <h3><%= team.conference %> </h3>
        <h3><%= team.division %> </h3>
    </div>
<% }) %>