



<div id='wConference'>
<% teams.forEach(team=> { %>
    <% if(team.conference === 'West'){ %>
    <div id='west'>
        <h3><%= team.full_name %> </h3>
        <form method="POST" action='/teams'>
            <input type='submit' value="⭐️">
            <input type='hidden' name="name" value="<%= team.full_name %> ">
        </form>
    
    
    </div>
     <% } %>      
<% }) %>
</div>

<div id='eConference'>
<% teams.forEach(team=> { %>
    <% if(team.conference === 'East'){%>
        <div id='east'>
            <h3><%= team.full_name %> </h3>
          
        </div>
    <% } %>      
<% }) %> 
</div>