<h2>Hello, from the homepage</h2>


<div>
    <form method="GET" action='user/signup'>
        <input type='submit' value="Sign Up">
    </form>

    <form method="GET" action='user/login'>
        <input type='submit' value="Log In">
    </form>

</div>