<h2 id='title'>Welcome to NBATeamChat!</h2>
<p id='intro'>Sign up to keep track of your favorite team and discuss the best action from last night's game!</p>


<div>
    <form method="GET" action='user/signup'>
        <input type='submit' value="Sign Up" id='signup'>
    </form>

    <form method="GET" action='user/login'>
        <input type='submit' value="Log In" id='login'>
    </form>

    

</div>