<!DOCTYPE html>
<html>
    <head>
        <title>NBA TeamChat</title>
        <link rel='stylesheet' href="/css/styles.css">

    </head>


    <body>
        <nav>
            <% if (user) {%>
                <a href='/user/logout'>Logout</a>
                <a href='/user/profile'>Profile</a>

            <% } else{ %>
                <a href='/'>Homepage</a>
                <a href='/user/login'>Log In</a>
                <a href='/teams'>Teams</a>
            <% } %>   
        </nav>


        <% if (user) {%>
                <h4> Hello, <%= user.email %>!</h4>
        <% } %>  

        <div id='container'>
        <%- body%>
        </div>
    </body>
</html>