<!DOCTYPE html>
<html>
    <head>
        <title>NBA TeamChat</title>
        <link rel='stylesheet' href="/css/styles.css">

    </head>

    <body>
        <nav>
            <a href='/'>Homepage</a>
            <a href='/profile'>Profile</a>
            <a href='/user/login'>Log In</a>
            <a href='/'>Logout</a>
        </nav>
        <%- body%>
    </body>
</html>