body{
   margin: 0px;
   background-color: rgb(202, 232, 250);
}


nav {
   display: flex;
   justify-content: flex-end;
   height: 60px;
   background-image: url('../nav-bg.jpg');
   background-size: 1290px;
}

nav a {
   text-decoration: none;
   padding: 5px;
   color: white;
   font-size: 1.1em;
   margin-top: 25px;
   margin-right: 5px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   border-style: none;
   height: 100vh;
   width: 1100px;
   margin-left: 80px;
   text-align: center;
}


#title {
   padding-top: 100px;
   font-size: 2.5em;
   font-family: 'Anton', sans-serif;
}
#intro{
   font-size: 1.5em;
}
#signup {
   width: 120px;
   height: 40px;
   margin-bottom: 10px;
   margin-top: 10px;
   font-size: 1.2em;
   border-radius: 4px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(197, 182, 182);
}

#login {
   width: 120px;
   height: 40px;
   font-size: 1.2em;
   border-radius: 4px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(197, 182, 182);
}
#signup:hover {
   cursor: pointer;
   background-color: rgb(250, 1, 1);
}
#login:hover {
   cursor: pointer;
   background-color: rgb(250, 1, 1);
}



#wConference {
   border-style: solid;
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   text-align: center;
}
#eConference {
   border-style: solid;
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   text-align: center;
}

#west {
   border-style: solid;
   width: 50%;
   height: 110px;
}

#east {
   border-style: solid;
   width: 50%;
   height: 110px;
}
#players {
   text-align: center;
}