<h2>Sign up for a new account!</h2>


<form method="POST" method="/user/signup">
    
    <label for="user">Email: </label>
    <input type="text" name="email" id="email">

    <label for="pass">Password:</label>
    <input type="password" name="password" id="pass">
    
    <input type="submit" value="Sign Up">
</form>